<div class="root">
	<RazorUI.Layout.SecondaryNavMenu FirstLevelNavigationPath="control">
		<RazorUI.Layout.SecondaryNavMenuButton Href="control/config">
			<Right>
				速度控制
			</Right>
		</RazorUI.Layout.SecondaryNavMenuButton>
		<RazorUI.Layout.SecondaryNavMenuButton Href="control/position_control">
			<Right>
				定位控制
			</Right>
		</RazorUI.Layout.SecondaryNavMenuButton>
	</RazorUI.Layout.SecondaryNavMenu>
</div>
