<div class="root">
	<NavLinkButton Url="./">
		<Right>
			连接配置
		</Right>
	</NavLinkButton>
	<NavLinkButton Url="./">
		<Right>
			控制
		</Right>
	</NavLinkButton>
	<NavLinkButton Url="./">
		<Right>
			控制
		</Right>
	</NavLinkButton>
</div>
