<div class="root">
	<NavLinkButton Url="./">
		<Right>
			速度控制
		</Right>
	</NavLinkButton>
	<NavLinkButton Url="./position_control">
		<Right>
			定位控制
		</Right>
	</NavLinkButton>
	<NavLinkButton Url="./">
		<Right>
			控制
		</Right>
	</NavLinkButton>
</div>
