<JCRazor.WindowComponents.Dialog @ref="_dialog"
								 DialogClosedEvent="OnNoButtonClickAsync">
	<div class="root">
		<div class="text-box">
			@if (ChildContent is not null)
			{
				@ChildContent
			}
			else
			{
				@Text
			}
		</div>
		<div class="button-box">
			<button @onclick="OnYesButtonClickAsync">Yes</button>
			<button @onclick="OnNoButtonClickAsync">No</button>
		</div>
	</div>
</JCRazor.WindowComponents.Dialog>
