@inject IJSRuntime JSRuntime

@*根节点占据全部视觉宽高，溢出隐藏*@
<div class="root"
	 style="width: @(Width);
			height: @(Height);">
	<div class="left-menu"
		 style="width: @(UsedLeftMenuWidth);
				transition: width 0.4s;">
		@LeftMenu
	</div>
	<div class="top-bar">
		@TopBar
	</div>
	<div class="content">
		@Content
	</div>
	<div class="state-bar">
		@StateBar
	</div>
	<div class="hide-left-menu-button-box" @onclick="ToggleHideLeftMenu">
		@if (HideLeftMenuButton is null)
		{
			@*☰☱☲☳☴☵☶☷*@
			<button class="hide-left-menu-button">☰</button>
		}
		else
		{
			@HideLeftMenuButton
		}
	</div>
</div>
