/*根节点，占据全部视觉宽高*/
.root {
	display: grid;
	overflow: hidden;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: max-content 1fr;
	background-color: #ededed;
	border-style: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 18px;
}

	/*根节点及根节点内的元素内外边距都设置为 0*/
	.root * {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

.left-menu {
	grid-row: 1/3;
	grid-column: 1;
	overflow: hidden;
	transition: width 0.5s;
}

.hide-left-menu-button-box {
	position: relative;
	grid-row: 1;
	grid-column: 2;
	height: fit-content;
	width: fit-content;
	padding: 0;
	margin: 0;
}

.hide-left-menu-button {
	position: absolute;
	top: 8px;
	padding: 0;
	margin: 0;
}

.top-bar {
	grid-row: 1;
	grid-column: 2;
	overflow: auto;
}

.content {
	grid-row: 2;
	grid-column: 2;
	overflow: auto;
}

/*底部状态栏*/
.state-bar {
	grid-row: 3;
	grid-column: 1/3;
	height: fit-content;
	overflow: hidden;
}
