<div class="root" @attributes="Attributes">
	<div class="description-content-box">
		@DescriptionContent
	</div>
	<div class="progress-box">
		<progress value="@Value" max="@MaxValue"></progress>
	</div>
	<div class="progress-indication-box">
		@if (ProgressIndication is not null)
		{
			@ProgressIndication
		}
		else
		{
			<span style="padding:0 0 0 5px;">@($"{100 * Value / MaxValue:F2}")</span>
			<span>%</span>
		}
	</div>
	@if (UseCancelButton)
	{
		<div class="cancel-button" @onclick="OnCancelButtonClick">
			<span>×</span>
		</div>
	}
</div>
