a {
	display: block;
	width: 100%;
	height: auto;
	color: inherit;
	outline: none;
	font-size: inherit;
	text-decoration: none;
}

	a:active {
		background-color: lightblue;
		transform: scale(1.1);
	}
