<EnsureDialog @ref="_delete_ensure_dialog"
									   EnsureCallback="OnEnsureCallbackAsync">
	<span>Are you sure to delete?</span>
</EnsureDialog>

<Dialog @ref="_operating_list_dialog">
	<div class="operating_list">
		@{
			foreach (IDirectoryInfos dir in SelectedDirectories)
			{
				<div>@dir.FullPath</div>
			}

			foreach (IFileInfos file in SelectedFiles)
			{
				<div>@file.FullPath</div>
			}
		}
	</div>
</Dialog>
