<div class="root">
	<div class="title">Uploading List</div>
	<div class="progress-item-box">
		@{
			lock (UploadingStateList)
			{
				@foreach (UploadingState upload_state in UploadingStateList)
				{
					<div class="progress-item" @key="upload_state">
						<div>
							@upload_state.FileName
						</div>
						@if (upload_state.FailureReason is not null)
						{
							<div style="color:red;">@upload_state.FailureReason</div>
						}

						<ProgressBar Value="upload_state.Progress"
									 MaxValue="1"
									 UseCancelButton="true"
									 CancelButtonClickEvent="async ()=>{await OnCancelDownloading(upload_state);}">

						</ProgressBar>
					</div>
				}
			}
		}
	</div>
</div>