@page "/index"
@inject IJSRuntime JS

<div class="root">
	<div>
		<button @onclick="OnLoadTS">加载TS流</button>
		<button @onclick="OnRequestWebsocket">发送websocket请求</button>
	</div>
	<div>
		<video controls @ref="_videoElement"></video>
	</div>
</div>
