@page "/position_control"

<div class="root">
	<STButton @onclick="ConfigAsync">一键配置</STButton>
	<JCRazor.表单.FormTable HeadBorderBottom="none" Height="fit-content">
		<Body>
			<div>P1.01：</div>
			<div>
				<input readonly @bind:get="P1_01" @bind:set="SetP1_01Async" />
			</div>

			<div>P2.40：</div>
			<div>
				<input readonly @bind:get="P2_40" @bind:set="SetP2_40Async" />
			</div>

			<div>P3.09：</div>
			<div>
				<input readonly @bind:get="P3_09" @bind:set="SetP3_09Async" />
			</div>

			<div>P3.10：</div>
			<div>
				<input readonly @bind:get="P3_10" @bind:set="SetP3_10Async" />
			</div>

			<div>P3.11：</div>
			<div>
				<input readonly @bind:get="P3_11" @bind:set="SetP3_11Async" />
			</div>

			<div>P3.12：</div>
			<div>
				<input readonly @bind:get="P3_12" @bind:set="SetP3_12Async" />
			</div>

			<div>P3.13：</div>
			<div>
				<input readonly @bind:get="P3_13" @bind:set="SetP3_13Async" />
			</div>

			<div>P3.14：</div>
			<div>
				<input readonly @bind:get="P3_14" @bind:set="SetP3_14Async" />
			</div>

			<div>反馈当前位置：</div>
			<div>
				<input readonly value="@(FeedbackCurrentPosition)" />
			</div>

			<div>反馈速度：</div>
			<div>
				<input readonly value="@(FeedbackSpeed)" />
			</div>
		</Body>
	</JCRazor.表单.FormTable>
	<div style="padding: 10px 0;">
		<STButton @onclick="SetImmediateDatasAsync">一键设置立即值数据</STButton>
		<STButton @onclick="PresetPositionAsync">位置预置</STButton>
		<STButton @onclick="StartPositioningAsync">定位数据启动</STButton>
		<STButton @onclick="ForceUpdateImmediateDatasAsync">立即应用新的定位数据</STButton>
	</div>
	<div style="padding: 10px 0;">
		<LeftRightLabel Width="max-content">
			<Left>
				暂停定位：
			</Left>
			<Right>
				<input type="checkbox" @bind:get="PausePositioning" @bind:set="SetPausePositioningAsync" />
			</Right>
		</LeftRightLabel>
		<LeftRightLabel Width="max-content">
			<Left>
				取消定位：
			</Left>
			<Right>
				<input type="checkbox" @bind:get="CancelPositioning" @bind:set="SetCancelPositioningAsync" />
			</Right>
		</LeftRightLabel>
	</div>
	<JCRazor.表单.FormTable HeadBorderBottom="none"
						  Height="fit-content"
						  BodyOverflow="hidden">
		<Body>
			<div>立即值位置：</div>
			<div>
				<input @bind:get="ImmediatePosition" @bind:set="SetImmediatePositionAsync" />
			</div>

			<div>立即值速度：</div>
			<div>
				<input @bind:get="ImmediateSpeed" @bind:set="SetImmediateSpeedAsync" />
			</div>

			<div>立即值加速时间：</div>
			<div>
				<input @bind:get="ImmediateAccelerationDuration" @bind:set="SetImmediateAccelerationDurationAsync" />
			</div>

			<div>立即值减速时间：</div>
			<div>
				<input @bind:get="ImmediateDecelerationDuration" @bind:set="SetImmediateDecelerationDurationAsync" />
			</div>
		</Body>
	</JCRazor.表单.FormTable>
</div>