@page "/"

<div class="root">
	<div>
		<JCRazor.表单.SerialPortSetupFormTable ConnectButtonClickCallback="OnConnecteButtonClickAsync">
		</JCRazor.表单.SerialPortSetupFormTable>
	</div>
	<div class="param-box">
		<JCRazor.表单.FormTable HeadBorderBottom="none">
			<Body>
				<div>P1.01：</div>
				<div>
					<input @bind="P1_01" />
				</div>

				<div>通信给定速度：</div>
				<div>
					<input @bind="Speed" />
				</div>
			</Body>
		</JCRazor.表单.FormTable>
		<STButton @onclick="OnEnableButtonClickAsync">使能</STButton>
		<div class="enable-light" _enabled="@(Enabled)"></div>
		<JCRazor.表单.FormTable HeadBorderBottom="none">
			<Body>
				<div>反馈当前位置：</div>
				<div>
					<input readonly value="@(FeedbackCurrentPosition)" />
				</div>

				<div>反馈速度：</div>
				<div>
					<input readonly value="@(FeedbackSpeed)" />
				</div>
			</Body>
		</JCRazor.表单.FormTable>
	</div>
</div>