@page "/"

<div class="root">
	<div>
		<JCRazor.表单.SerialPortSetupFormTable ConnectButtonClickCallback="OnConnecteButtonClickAsync">
		</JCRazor.表单.SerialPortSetupFormTable>
	</div>
	<div>
		<STButton @onclick="OnEnableButtonClickAsync">使能</STButton>
		<div class="enable-light" _enabled="@(Enabled)"></div>
		<JCRazor.盒子.LeftRightBox>
			<Left>
				反馈当前位置：
			</Left>
			<Right>
				<input readonly value="@(FeedbackCurrentPosition)" />
			</Right>
		</JCRazor.盒子.LeftRightBox>
	</div>
</div>