@page "/"

<div class="root">
	<div>
		<JCRazor.表单.SerialPortSetupFormTable ConnectButtonClickCallback="OnConnecteButtonClickAsync">
		</JCRazor.表单.SerialPortSetupFormTable>
	</div>
	<div class="param-box">
		<JCRazor.表单.FormTable HeadBorderBottom="none">
			<Body>
				<div>P1.01：</div>
				<div>
					<input @bind:get="P1_01" @bind:set="SetP1_01Async" />
				</div>

				<div>P3.01：</div>
				<div>
					<input @bind:get="P3_01" @bind:set="SetP3_01Async" />
				</div>

				<div>P3.09：</div>
				<div>
					<input @bind:get="P3_09" @bind:set="SetP3_09Async"/>
				</div>

				<div>P3.10：</div>
				<div>
					<input @bind:get="P3_10" @bind:set="SetP3_10Async"/>
				</div>

				<div>P3.11：</div>
				<div>
					<input @bind:get="P3_11" @bind:set="SetP3_11Async"/>
				</div>

				<div>P3.12：</div>
				<div>
					<input @bind:get="P3_12" @bind:set="SetP3_12Async"/>
				</div>

				<div>通信给定速度：</div>
				<div>
					<input @bind:get="Speed" @bind:set="SetSpeedAsync" />
				</div>
			</Body>
		</JCRazor.表单.FormTable>
		<STButton @onclick="OnEnableButtonClickAsync">使能</STButton>
		<STButton @onclick="OnFwdClickAsync">正转</STButton>
		<div class="enable-light" _enabled="@(Enabled)"></div>
		<JCRazor.表单.FormTable HeadBorderBottom="none">
			<Body>
				<div>反馈当前位置：</div>
				<div>
					<input readonly value="@(FeedbackCurrentPosition)" />
				</div>

				<div>反馈速度：</div>
				<div>
					<input readonly value="@(FeedbackSpeed)" />
				</div>
			</Body>
		</JCRazor.表单.FormTable>
	</div>
</div>