@page "/"

<div class="root">
	<div>
		<JCRazor.表单.SerialPortSetupFormTable ConnectButtonClickCallback="OnConnecteAsync">
		</JCRazor.表单.SerialPortSetupFormTable>
	</div>
	<div>
		<STButton @onclick="OnEnableButtonClickAsync">使能</STButton>
		<div class="enable-light" _enabled="@(Enabled)"></div>
		<input readonly value="@(FeedbackCurrentPosition)" />
	</div>
</div>