@page "/"

<div class="root">
	<div>
		<JCRazor.表单.SerialPortSetupFormTable ConnectButtonClickCallback="OnConnecteButtonClickAsync">
		</JCRazor.表单.SerialPortSetupFormTable>
	</div>
	<div>
		<STButton @onclick="OnEnableButtonClickAsync">使能</STButton>
		<div class="enable-light" _enabled="@(Enabled)"></div>
		<JCRazor.表单.FormTable HeadBorderBottom="none">
			<Body>
				<div>反馈当前位置：</div>
				<div>
					<input readonly value="@(FeedbackCurrentPosition)" />
				</div>
			</Body>
		</JCRazor.表单.FormTable>
	</div>
</div>