@page "/"

<div class="root">
	<div>
	</div>
	<div>
		<JCRazor.按钮.STButton @onclick="OnEnableButtonClickAsync">使能</JCRazor.按钮.STButton>
		<div class="enable-light" _enabled="@(Enabled)"></div>
		<input readonly value="@(FeedbackCurrentPosition)" />
	</div>
</div>