.root {
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-style: none;
	display: flex;
	flex-direction: column;
}

.head {
	overflow: hidden;
}

/*
	装表单项的盒子
*/
.body {
	flex: 1;
	margin: 0;
	border-style: none;
	overflow: auto;
	display: grid;
}


.foot {
	overflow: hidden;
}
