.root {
	box-sizing: border-box;
	background-color: #ededed;
	border-color: #1c1f2f;
	border-width: 8px;
	border-style: double;
	-webkit-animation: shining 0.5s alternate infinite;
	animation: box-shining 3s alternate infinite;
}

@-webkit-keyframes box-shining {
	from {
		box-shadow: 0 0 10px #251414, 0 0 15px #2a0f0f, 0 0 20px #031217, 0 0 25px rgba(61, 32, 50, 0.44), 0 0 30px rgba(61, 32, 50, 0.44), 0 0 40px rgba(61, 32, 50, 0.44);
	}

	to {
		box-shadow: 0 0 2px #251414, 0 0 5px #251414, 0 0 8px #031217, 0 0 12px #010b10, 0 0 18px rgba(61, 32, 50, 0.44), 0 0 25px rgba(61, 32, 50, 0.44);
	}
}
