<div class="root"
	 style="grid-template-columns: @ColumnsTemplate;
			grid-column-gap:@ColumnsGap;
			height: @Height;">
	<div class="left">
		@Left
	</div>
	<div class="right">
		@Right
	</div>
</div>
