<div class="root">
	<!-- 最顶上的头部，从第一列到最后一列。 -->
	<div class="head">
		@Head
	</div>

	<!-- 左中右 3 个头部 -->
	<div class="left-head">
		@LeftHead
	</div>
	<div class="middle-head">
		@MiddleHead
	</div>
	<div class="right-head">
		@RightHead
	</div>

	<!-- 左中右 3 个内容 -->
	<div class="left-content"
		 style="padding:@LeftContentPadding;">
		@LeftContent
	</div>
	<div class="middle-content"
		 style="padding:@MiddleContentPadding;">
		@MiddleContent
	</div>
	<div class="right-content"
		 style="padding:@RightContentPadding;">
		@RightContent
	</div>

	<!-- 左中右 3 个脚部 -->
	<div class="left-foot">
		@LeftFoot
	</div>
	<div class="middle-foot">
		@MiddleFoot
	</div>
	<div class="right-foot">
		@RightFoot
	</div>

	<!-- 最底下的脚部，从第一列到最后一列。 -->
	<div class="foot">
		@Foot
	</div>
</div>
