.root {
	display: grid;
	align-content: center;
	align-items: center;
	white-space: nowrap;
}

.left {
	width: 100%;
	height: 100%;
	overflow: visible;
}

.right {
	width: 100%;
	height: 100%;
	overflow: visible;
}
