.root {
	width: 100%;
	height: max-content;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
	overflow: hidden;
	background-color: #ededed;
}

.outline-title {
	width: max-content;
	height: 100%;
	padding: 2px 10px;
	font-weight: 600;
	border: #3d261b 1mm solid;
	box-shadow: 0px 0px 2px 1px rgba(122, 117, 117, 0.5);
	color: #054354;
}
