.root {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto 1fr;
	overflow: hidden;
	background-color: #ededed;
}

.header {
	width: 100%;
	height: 100%;
	position: sticky;
	overflow: hidden;
}

.content {
	width: 100%;
	height: 100%;
	overflow: auto;
}
