<div class="root"
	 style="grid-row-gap: @(RowGap);
			overflow: @(Overflow);
			padding:@(Padding);
			width:@(Width);
			height:@(Height);
			align-content: @AlignContent;
			align-items: @AlignItems;">

	@ChildContent
</div>