<div class="root">
	<NavLinkButton Url="./">
		<Right>
			去除行首数字
		</Right>
	</NavLinkButton>
	<NavLinkButton Url="./">
		<Right>
			去除换行符
		</Right>
	</NavLinkButton>
	<NavLinkButton Url="./">
		<Right>
			修改后缀名
		</Right>
	</NavLinkButton>
</div>
